@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header[role=banner] {
  font-family: "Zilla Slab", serif;
  color: #FDFDFE;
  margin-bottom: 20em;
  text-align: center;
}

header h1 {
  background: transparent url("images/title/LampOnTitle.png") no-repeat top left;
  background-size: contain;
  margin-top: 10px;
  width: 100%;
  height: 540px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#css-zen-garden {
  background-image: url("images/background/background_small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.page-wrapper {
  position: relative;
  margin: 20px;
}

div.design-selection {
  color: #FDFDFE;
  position: absolute;
  top: 10em;
}
div.design-selection ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
div.design-selection ul li {
  list-style: none;
  background-image: url("images/planet-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: 50% 10px;
}
div.design-selection ul li a {
  text-decoration: none;
  color: #FDFDFE;
}

.intro {
  color: #FDFDFE;
}

.preamble::before {
  content: url("images/wall-e.png");
}

.explanation::before {
  content: url("images/house.svg");
}

.participation::before {
  content: url("images/airplane.png");
}

.benefits {
  background-color: #FEE300;
}

.benefits::before {
  content: url("images/rat.png");
}

.requirements {
  margin-bottom: 30em;
}

.requirements::before {
  content: url("images/ant.png");
}

div.zen-resources ul {
  background-color: pink;
  position: absolute;
  bottom: 10em;
  color: white;
  width: 100%;
}
div.zen-resources ul li {
  padding: 2em 1em;
  background-color: #047542;
  border: 1px solid #0D0D0D;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2em;
}
footer a {
  text-decoration: none;
}

div.design-archives nav[role=navigation] {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
div.design-archives nav[role=navigation] li {
  list-style: none;
}
div.design-archives nav[role=navigation] li a {
  text-decoration: none;
}

@media (min-width: 37.5em) {
  .preamble {
    width: 50%;
    text-align: end;
    margin-right: 10%;
    margin-left: auto;
  }
  .preamble::before {
    content: url("images/wall-e.png");
  }
}

@media (min-width: 37.5em) {
  .explanation {
    width: 50%;
    margin-left: 10%;
  }
  .explanation::before {
    content: url("images/house.svg");
    margin-left: 110%;
  }
}

@media (min-width: 37.5em) {
  .participation {
    width: 50%;
    text-align: end;
    margin-right: 10%;
    margin-left: auto;
  }
  .participation::before {
    content: url("images/airplane.png");
  }
}

@media (min-width: 37.5em) {
  .benefits {
    background-color: #FEE300;
    width: 50%;
    margin-left: 10%;
  }
  .benefits::before {
    content: url("images/rat.png");
    margin-left: 110%;
  }
}

@media (min-width: 37.5em) {
  .requirements {
    width: 50%;
    text-align: end;
    margin-right: 10%;
    margin-left: auto;
  }
  .requirements::before {
    content: url("images/ant.png");
  }
}

@media (min-width: 37.5em) {
  div.zen-resources ul {
    background-color: pink;
    position: absolute;
    display: flex;
    color: white;
    width: 100%;
  }
  div.zen-resources ul li {
    padding: 2em 1em;
    background-color: #047542;
    border: 1px solid #0D0D0D;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  #css-zen-garden {
    background-image: url("images/background/background_big.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
